<h1><%= @band.name %> Members</h1>
<br>
<% @band.musicians.each do |musician| %>
<h2><%= musician.name %></h2>
<h3><%= musician.instrument %></h3>
<br>
<% end %>
<p><a href=<%= "/bands/#{@band.id}/musicians/new" %>>Create Musician</a></p>
 
