<h1>Bands</h1>

<% Band.sort.each_with_index do |band, index| %>
<div id="band-<%= index %>">
<h3><%= band.name %></h3>
<p><a href="bands/<%= "#{band.id}" %>/edit">edit band</a></p>
<br>
</div>
<% end %>

<p><a href="/bands/new">New Band</a></p>
