<h1>Bands</h1>

<%= sorted_band_names = @band_names.sort %>

<% @band_names.each_with_index do |name, index| %>
<h3 id="band-<%= index %>"><%= name %></h3>
<% end %>

<p><a href="/bands/new">New Band</a></p>
